body{
    background-color: black;
}



.perfil{
    width: 160px;
    height: 160px;
    margin: 20px;

}


.container{
    display: flex;
     justify-content: center;
     flex-direction: unset;
     

}

h1{color: #fff;
    margin-left: 520px;
    font-size: 30px;
   
}

button{ 

    color: #FFFFFF;
    background-color: black;
    position: absolute;
    left:590px;
    right:600px;
    top: 400px;
    bottom: 110px;
   
    
    border: 1.5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
    
   
    
    
    

    }



   

img{display: inline-block;
    margin-left: 550px;
    height: 70px;
}

h5{
    color: gray;
    text-align: center;
    margin-top: 1px;
}




